*.pyc
.idea/
*.egg-info/
testing/
*.o
*.so
*.a
.gdb_history
*.i64
*.idb
*.id0
*.id1
*.id2
*.nam
*.til
*.swp
*.dll
*.obj
*.lib
*.exp
*.pdb
*.ilk
angr/tests/*.png
screenlog.0
angr/tests/screenlog.0
angr/screenlog.0
.idea
*.egg-info
/build
/tags
MANIFEST
dist
.eggs
.vscode/
*.db
.DS_Store
.pytest_cache/
binsync/interface_overrides/ghidra/client/build/
binsync/interface_overrides/ghidra/client/dist/
binsync/interface_overrides/ghidra/client/bin/
binsync/interface_overrides/ghidra/client/.gradle/
binsync/interface_overrides/ghidra/client/.classpath
binsync/interface_overrides/ghidra/client/.project
binsync/interface_overrides/ghidra/client/Ghidra/
