name: GUI Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - name: Set branch name
      run: echo "BRANCH_NAME=${GITHUB_HEAD_REF}" >> $GITHUB_ENV
    - name: Install dependencies
      run: |
        sudo apt-get update && sudo apt-get install libegl1 libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 \
          libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xfixes0 x11-utils -y
        /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background \
          --exec /usr/bin/Xvfb -- :99 -screen 0 1920x1200x24 -ac +extension GLX
        python -m pip install --upgrade pip
        (git clone https://github.com/binsync/libbs.git /tmp/libbs && cd /tmp/libbs && git checkout $BRANCH_NAME && pip install .)
        (git clone https://github.com/angr/angr-dev.git /tmp/angr-dev && cd /tmp/angr-dev && ./extremely-simple-setup.sh)
        pip install .[test]
        AM_INSTALL=$(dirname $(python3 -c "import angrmanagement; print(angrmanagement.__file__)"))/plugins/
        binsync --cli-install angr --install-path $AM_INSTALL

    - name: Pytest
      env:
        QT_QPA_PLATFORM: "offscreen"
      run: |
        QT_QPA_PLATFORM="offscreen" pytest ./tests/test_angr_gui.py -s
